# Compiler files
cache/
out/
artifacts/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Node modules
node_modules/

RWA_README.md

# Dotenv file
.env
